@include keyframes(fadeIn) {
  from { opacity: 0; }
  to { opacity: 1; }
}

body { background-color: #000; }

.collection {
  header.navigation { position: absolute; }
  .slides-navigation { font-size: 5em; }
  .slides-navigation .next { right: 2rem; }
  .slides-navigation .prev { left: 2rem; }
}