.home::after {
  @include animation(fadeIn .75s ease-in);
  @include animation-fill-mode(backwards);
  background-image: url(image-path("bg1.jpg"));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.home--logo {
  @include animation(fadeIn .75s ease-in);
  @include animation-fill-mode(backwards);
  @include animation-delay(0.75s);

  position: relative;
  left: $base-spacing;
  top: $base-spacing * 9;
}
