$home-background-image: url(image-path("background_LE.jpg"));

@mixin full-bleed-bg($image) {
  background-image: $image;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home::after {
  @include animation(fadeIn .75s ease-in);
  @include animation-fill-mode(backwards);
  @include full-bleed-bg($home-background-image);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home--logo {
  @include animation(fadeIn .75s ease-in);
  @include animation-fill-mode(backwards);
  @include animation-delay(0.75s);

  @include outer-container;

  .logotype {
    margin: 10rem auto 0 auto;
    padding: $base-spacing;
  }
}
