.page-content {
  @include animation(fadeIn .75s ease-in);
  @include animation-fill-mode(backwards);
  padding: 1.5em;

  @include media($medium-screen-up) {
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: 850px;
  }

  h2 { font-size: 1.25em }
  h3 { font-size: 1.25em }
}

.page-title {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @include media($large-screen-up) {
    font-size: 2.25em;
  }
}

.gallery-section {
  @include columns(2 10px);
  width: 100%;

  img {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
  }

  @include media($medium-screen-up) {
    @include columns(3 10px);
    width: 100%;

    img {
      display: inline-block;
      margin-bottom: 0;
      width: 100%;
    }
  }
}
