---
title: "Lisa Eisner at Home: T-Magazine"
gallery:
 - tmag_dec2014_2.jpg
 - tmag_dec2014_1.jpg
---
Lisa Eisner featured in the _New York Times_ T Magazine's video section.

<div class="video">
  <div class="video-wrapper">
    <iframe src="//player.vimeo.com/video/115025561?byline=0&amp;portrait=0" width="650" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/115025561">Lisa Eisner at Home | T Magazine</a> from <a href="http://vimeo.com/user35635935">Lisa Eisner Jewelry</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</div>

<%= media_block(current_page.data.gallery[0]) %>
<%= media_block(current_page.data.gallery[1]) %>
