---
title: "Video: Tom Ford Autumn/Winter 2015"
gallery:
 - tom_ford_video.jpg
---
Lisa Eisner's jewelry featured in a new video from Tom Ford:

<div class="video">
  <div class="video-wrapper">
    <iframe src="https://player.vimeo.com/video/139418336" width="650" height="385" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/139418336">Tom Ford: Autumn/Winter 2015</a> from <a href="https://vimeo.com/user35635935">Lisa Eisner Jewelry</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</div>
