---
title: "Video: Rihanna at the Superbowl"
gallery:
 - rihanna_1.jpg
---
Rihanna sports Lisa Eisner's jewelry in CBS's new teaser video for the Superbowl and Grammys broadcasts.

<video id="my-video"
       class="video-js vjs-big-play-centered vjs-16-9"
       controls preload="auto"
       poster="/assets/images/rihanna_1.jpg"
       data-setup="{}">
  <source src="/assets/videos/rihanna_cbs.mp4" type='video/mp4'>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
