---
title: "Video: Rihanna at the Superbowl"
gallery:
 - rihanna_1.jpg
 - rihanna_2.jpg
 - rihanna_3.jpg
---
Rihanna sports Lisa Eisner's jewelry in CBS's new teaser video for the Superbowl and Grammys broadcasts.

<div class="video">
  <div class="video-wrapper">
    <iframe src="https://player.vimeo.com/video/152382522" width="650" height="385" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/139418336">Rihanna Grammys/Superbowl Teaser Vid  2016</a> from <a href="https://vimeo.com/user35635935">Lisa Eisner Jewelry</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
</div>

<%= media_block(current_page.data.gallery[0]) %>
<%= media_block(current_page.data.gallery[1..2]) %>
