- gallery = current_page.data.gallery
.tile-section
  .tile-section__images{data: { columns: true }}
    - gallery.each do |image|
      = link_to image_path(image), class: "popup-link" do
        .tile-section__images__item
          = image_tag(image)
