---
title: "Lisa Eisner at Home: T-Magazine"
gallery:
 - TMagStyle_Dec2014_cover.jpg
 - TMagStyle_Dec2014_left.jpg
 - TMagStyle_Dec2014_right.jpg
---
Lisa Eisner featured in the _New York Times_ T Magazine's video section.

<video id="my-video"
       class="video-js vjs-big-play-centered vjs-16-9"
       controls preload="auto"
       poster="/assets/images/t_video_cover.jpg"
       data-setup="{}">
  <source src="/jewelry/assets/videos/times_style_tour.mov" type='video/mp4'>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>

<%= media_block(current_page.data.gallery[0]) %>
<%= media_block(current_page.data.gallery[1]) %>
<%= media_block(current_page.data.gallery[2]) %>
