---
title: "Video: Tom Ford Autumn/Winter 2015"
gallery:
 - tom_ford_video.jpg
---
Lisa Eisner's jewelry featured in a new video from Tom Ford:

<video id="my-video"
       class="video-js vjs-big-play-centered vjs-16-9"
       controls preload="auto"
       poster="/assets/images/tom_ford_video.jpg"
       data-setup="{}">
  <source src="/jewelry/assets/videos/tom_ford_2015_cropped.mp4" type='video/mp4'>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
