---
title: Installations
layout: page
---
%ul.article-list
  - blog("installations").articles.each do |article|
    %li.article-list-item
      %article
        %h2.article-title= article.title
        - if article.data.location
          %h4.article-location= article.data.location
        %h4.article-date
          %time= article.date.strftime('%b %Y')
        - if article.data.gallery?
          - article.data.gallery.each do |image|
            = image_tag(image)

