---
title: Lisa Eisner for Tom Ford
layout: page
gallery:
  - "tom-ford/tf-01.jpg"
  - "tom-ford/tf-02.jpg"
  - "tom-ford/tf-03.jpg"
  - "tom-ford/tf-04.jpg"
  - "tom-ford/tf-05.jpg"
---
= partial "partials/gallery"
