---
title: Press
layout: page
---
%ul.grid--is-masonry{ data: { columns: true }}
  - data.press.each_with_index do |item|
    %li.grid-item
      = link_to "press/#{item.title.to_slug}.html", class: "ajax-popup-link" do
        .grid-item__header
          %h2.grid-item__title= item.title
        = image_tag(item.images.first)
