---
title: Press
layout: page
---
%ul.press-grid{ data: { columns: true }}
  - data.press.each_with_index do |item, index|
    %li.press-grid__item
      = link_to "press/#{index}.html", class: "ajax-popup-link" do
        %h2.press-grid__item__title= item.title
        = image_tag(item.images.first)
