---
title: Press
layout: page
---
%ul.press-grid{ data: { columns: true }}
  - data.press.each do |item|
    %li.press-grid__item
      %h2.press-grid__item__title= item.title
      = image_tag(item.images.first)
