---
title: Stores
layout: page
---
%br
%ul
  %li
    = link_to "Maxfield, Los Angeles", "http://www.maxfieldla.com", :target => "blank"
  %li
    = link_to "Karry Berreby, Paris", "http://www.karryberreby.com", :target => "blank"
  %li
    = link_to "Forth Five Ten, Dallas", "http://www.fortyfiveten.com", :target => "blank"
  %br
  %p
    For inquiries, please contact:
    =link_to "studio@lisaeisnerjewelry.com", "mailto:studio@lisaeisnerjewelry.com"
